h1 {
    margin: 0;
}

.shop-details {
    position: absolute;
    bottom: 0;
    height: 60vh; 
    width: 100%; 
}

.overlay {
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.6);
    color: #fff;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.shop-img {
    width: 100%;
}

.fa-heart {
    cursor: pointer;
}

.favorited {
    color: red;
}

.shop-details button {
    margin: 1em;
}

/* animation */