.note {
    position: absolute;
    top: -100%;
    height: 100vh;
    width: 100vw;
    background: rgba(0,0,0,0.8);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    color: #fff;
}

.fa-window-close {
    position: absolute;
    top: 0;
    right: 5%;
    margin: 0;
}

h3 {
    text-align: center;
}

label {
    font-size: 2em;
    margin: .5em;
}

input, textarea {
    width: 70%;
    background: rgb(212, 210, 210);
    font-size: 1.5em;
}