h1 {
    margin: 0;
}

.shop-details {
    position: absolute;
    bottom: 0;
    height: 60vh; 
    width: 100%; 
}

.overlay {
   
}

.shop-img {
    width: 100%;
}

.fa-heart {
    cursor: pointer;
}

.favorited {
    color: red;
}

.shop-details button {
    margin: 1em;
}

/* animation */