.sidebar {

}

.sidebar-active {
    transform: translateX(0%);
    transition: all .2s cubic-bezier(.4,0,.2,1);
}

.sidebar 

.sidebar ul {
    width: 100%;
}

.sidebar ul a {
    width: 100%;
    display: flex;
    flex-flow: column;
    margin: 2em -1em;
    font-size: 1.5em;
    text-decoration: none;
    color: #757575;
}